/*NAVBAR*/
.header-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    @include control-transition;
    padding: 1rem;
    z-index: 999;

    .nav-item {
          padding: 0 1.6rem;
          margin: 0 0.5rem;

      .nav-link {
          font-size: 1.8rem;
          color: #fff;
          line-height: 1rem;
          font-weight: 600;
          font-family: $font-family;
          align-items: center;
          justify-content: center;
          position: relative;
          font-style: italic;
          letter-spacing: 1.5px;
          @include control-transition;

    //         &::after {
    //         content: "";
    //         width: 0%;
    //         height: 2px;
    //         left: 0;
    //         bottom: 0;
    //         background: #fff;
    //         position: absolute;
    //         transition: all 0.2s ease-in;    
              
    //    }
 
           &:hover::after {
               width: 100%;
           }

           &:active {
               color: orange;
           }

     }


}

     .menu-navbar {
            text-align: center;
    } 
    
    /*Scroll-Fixed*/
     .header-wrap.sticky {
         background-color: #ffffff;
         padding: 10px 10px;
         transition-duration: 0.6s;
         z-index: 9999;
         box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4);

         .nav-item {
             .nav-link{
         color: #5c08a7;
         float: left;
         position: relative;
         width: 100%;
         font-size: 1.7rem;   

           &:active{
               color: orange;
           }
        }
    }

      .navbar-brand{
       color: #5c08a7;
       }
    }

    .contact-btn {
        background-color: $color-button;
        padding: 1.7rem 1.3rem !important;
        font-size: 1.5rem;
        text-decoration: none;
        @include control-transition;

        &:hover {
            background-color: $color-primary;
            transform: translateY(-12%);
            @include control-transition; 
        }

    }

}







