$white: #FFFFFF;
$black: #000000;
$color-primary: #E04218;
$color-secondary: #FEB931;
$color-button: #483C36;
$font-family: 'Montserrat', sans-serif;
$menu-font: "Alfa Slab One", cursive;
$font-size: 1.6rem;

 